<div>
	<div class="col-md-8 col-xs-12 align-pad-left">
		<input type="text" class="form-control" placeholder="Option Value" ng-model="choice.desc">
	</div>
	<div class="col-md-2 col-xs-12 align-pad-right">
		<div class="onoffswitch">
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
			<label class="onoffswitch-label" for="myonoffswitch">
				<span class="onoffswitch-inner"></span>
				<!-- <span class="onoffswitch-switch"></span> -->
			</label>
		</div>
	</div>
	<div class="col-md-2 col-xs-12 align-pad-right">
		<button type="button" class="form-control cancel" placeholder="Option Value" ng-click="addItemOption()">Delete</button>
	</div>
</div>