<div ui-view="header"></div>

<div class="middle">
<form>
  <div class="form-group">
    <label for="assignmentName">Assignment Name</label>
    <input ng-model="newAssignment.name" type="text" class="form-control" id="assignmentName" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="assignmentDescription">Description</label>
    <input ng-model="newAssignment.desc" type="text" class="form-control" id="assignmentDescription" placeholder="Description">
  </div>
  <button type="submit" class="btn btn-default" ng-click="saveNewAssignment()">Next >></button>
  <button type="submit" class="btn btn-default" ui-sref="admin">Cancel</button>
</form>
</div>